:root {
    --main-bg-color: #033b4a;
    --accent-color: #2da95c;
    --light-bg-color: #646060;
    --button-hover-color: #10847e;
    --text-color: #646060;
    --border-color: white;
  }
  
  .Contact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 10%;
    flex-direction: column;
    font-family: "Poppins";
    gap: 30px;
  }
  
  .Customer-Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    width: 70%;
    border-radius: 20px;
    border: 2px solid var(--main-bg-color);
    padding: 15px;
  }
  
  .Title-Customer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-bg-color);
  }
  .Title-Customer h1 {
    font-size: 48px;
    font-weight: 800;
  }
  .Title-Customer h2 {
    font-size: 23px;
    font-weight: 600;
  }
  
  .Contact-Support {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .Vertical-Contact {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
  }
  
  .Individual-Contact {
    margin: 5px;
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 15px;
    color: #242429;
    font-weight: 600;
  }
  
  .Individual-Contact svg {
    font-size: 30px;
  }
  
  .Feedback-Contact {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    width: 70%;
    padding: 15px;
    flex-direction: column;
    border: 2px solid var(--accent-color);
    margin-bottom: 30px;
  }
  
  .Title-Feedback {
    color: var(--accent-color);
    font-size: 28px;
    margin: 10px;
    margin-top: 8px;
    font-weight: 600;
  }
  
  .Feedback-Contact textarea {
    width: 100%;
    border-radius: 20px;
    height: 80px;
    margin-bottom: 15px;
    color: var(--main-bg-color);
    font-family: cursive;
    border: none;
    padding-top: 10px;
    padding-left: 15px;
  }
  .Feedback-Contact textarea:focus {
    outline: none;
  }
  
  .Submit-Feedback {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .Submit-Feedback button {
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--main-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .Submit-Feedback button:hover {
    transform: scale(1.1);
    background-color: var(--accent-color);
    color: var(--main-bg-color);
  }