.Coupon-Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #033b4a;
  border-radius: 10px;
  font-family: "Poppins";
  width: 90%;
  margin: 10px;
  padding: 5px;
}

.Coupon-Card h1 {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid #033b4a;
  color: #033b4a;
  padding-top: 2px;
  margin-left: 15px;
  font-weight: 700;
  /* font-size: 14px; */
  letter-spacing: 0.5px;
}

.Apply-Card {
  width: 70%;
  background-color: #d9d9d9;
  border: 2px solid #033b4a;
  border-radius: 10px;
  padding-top: 2px;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Apply-Card input {
  color: #033b4a;
  border: none;
  background-color: #d9d9d9;
  cursor: pointer;
  outline: none;
  width: 70%;
  padding-left: 10px;
  font-weight: 600;
  border-bottom: 2px solid #033b4a;
  padding-bottom: 10px;
  margin-left: 10px;
}

.Apply-Card button {
  background-color: #2da95c;
  border: 2px solid #10847e;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  padding: 5px 20px;
  font-weight: 600;
  margin-right: 15px;
  transition: transform 0.3s ease-in-out;
}

.Apply-Card button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {

  .Apply-Card{
    padding: 5px;
  }
   
.Apply-Card input{
  padding-bottom: 5px;
} 
.Apply-Card button{
  margin-right: 5px;
}
}

@media screen and (max-width: 728px) {

  .Coupon-Card{
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .Coupon-Card h1{
    padding-bottom: 5px;
    margin: 10px;
    width: 90%;
  }
  .Apply-Card{
    width: 95%;
  }
  
}

@media screen and (max-width: 560px) {

  .Apply-Card input {
    
    width: 60%;
    padding-left: 0px;
    font-size: 14px;
  }

  .Apply-Card button {
    font-size: 14px;
    padding: 5px 18px;
    font-weight: 500;
    margin-right: 8px;
    transition: transform 0.3s ease-in-out;
  }
}