:root {
  --primary-color: #033b4a;
  --button-bg-hover: #10847e;
  --button-color-hover: white;
}

.User {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins";
}

.User-Box {
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.Image-User {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Image-User img {
  width: 150px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
}
.Image-User img:hover {
  transform: scale(1.1);
}

.Details-User {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  letter-spacing: 0.5px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.Detail-Div {
  display: flex;
  width: 80%;
  color: #033b4a;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
}

.Name-User,
.Id-User {
  width: 40%;
  padding-bottom: 8px;
  border-bottom: 3px solid #033b4a;
}

.Detail-User {
  display: flex;
  width: 80%;
  color: #033b4a;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 8px;
  margin-top: 15px;
  border-bottom: 3px solid #033b4a;
}

.Button-User {
  display: flex;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.Button-User button {
  background-color: #2da95c;
  color: #033b4a;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 18px;
  border-radius: 20px;
  border: 2px solid #033b4a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.Button-User button:hover {
  background-color: #10847e;
  color: white;
  transform: scale(0.9);
}

@media screen and (max-width: 1125px) {
  .User-Box {
    width: 60%;
  }
}

@media screen and (max-width: 754px) {
  .Name-User,
  .Id-User,
  .Detail-User {
    font-size: 16px;
  }
  .Button-User button {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .User-Box {
    width: 70%;
  }
}

@media screen and (max-width: 581px) {
  .Button-User {
    flex-direction: column;
    gap: 20px;
  }
  .Button-User button {
    width: 90%;
  }
  .User-Box {
    width: 85%;
  }
  .Image-User img {
    width: 130px;
  }
}
