.Cart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;

}

.Number-Cart{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 30%;
    align-items: center;
    font-weight: 700;
    padding: 10px 20px;
    color: #033B4A;
    border: 2px solid #033B4A;
    margin: 20px;
    margin-top: 10px;
}
.Number-Cart h1{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.Main-Content{
    display: flex;
}

.Content-Container{
    width: 70%;
}

.Payment-Cart{
    width: 30%;
}

@media screen and (max-width: 1300px) {

    .Cart{
        margin-left: 10%;
    }
    .Number-Cart{
        width: 35%;
    }
    .Main-Content {
        flex-wrap: wrap;
    }
    .Content-Container{
        width: 100%;
    }
    .Payment-Cart{
        width: 100%;
    }
    
}

@media screen and (max-width: 900px) {

    .Cart{
        margin-left: 5%;
    }
    
}


@media screen and (max-width: 731px) {
    

    .Number-Cart{
        width: 60%;
    }
    .Cart{
        margin-left: 0;
        padding-left: 10px;
    }
    
  }