:root {
  --main-bg-color: #033b4a;
  --accent-color: #2da95c;
  --light-bg-color: #646060;
  --button-hover-color: #10847e;
  --text-color: #646060;
  --border-color: white;
}

.cover {
  margin-right: 200px;
  margin-top: 40px;
  height: 100vh;
  font-family: "Poppins";
}
.note {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
  margin-bottom: 20px;
}
.locate {
  background-color: var(--main-bg-color);
  padding: 10px 50px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  margin: 10px;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.or {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #646060;
}
.block input {
  font-size: 16px;
}
label {
  color: var(--main-bg-color);
  font-size: 16px;
  font-weight: 600;
}
.text {
  margin-top: 10px;
  width: 85%;
  border-bottom: 3px solid var(--main-bg-color);
  color: #033b4a;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.text:focus {
  border: none;
}
.button-below {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.button-below button {
  font-size: 16px;
}
