:root {
  --main-bg-color: #033b4a;
  --accent-color: #2da95c;
  --light-bg-color: #646060;
  --button-hover-color: #10847e;
  --text-color: #646060;
  --border-color: white;
}

.cover {
  margin-right: 200px;
  margin-top: 40px;
  height: 100vh;
}
.note {
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
  padding: 10px 40px;
  font-size: larger;
  font-weight: 600;
}
.locate {
  background-color: var(--main-bg-color);
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  font-size: larger;
  font-weight: 700;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.or {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
  color: var(--main-bg-color);
}
label {
  color: var(--main-bg-color);
  font-size: larger;
  font-weight: 600;
}
.text {
  margin-top: 10px;
  width: 85%;
  border-bottom: 3px solid var(--main-bg-color);
  color: #033b4a;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.text:focus {
  border: none;
}
